/************* UTILITY & GLOBAL SETUP *************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --black: #111111;
    --dark-grey: #333333;
    --light-blu: #b5ddff;
    --blue: #0084fd;
    --purple: #9792e4;
    --orange: #fdc15f;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4 {
    text-transform: uppercase;
    font-weight: 400;
}

h5 {
    font-size: 3rem;
    font-weight: 700;
}

h6 {
    font-size: 4rem;
    color: var(--orange);
}

p {
    line-height: 2rem;
}

button {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 40px;
    border-radius: 40px;
    border: 0;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1rem;
}

button i {
    font-size: 1rem;
}

.debug {
    border: 1px solid black;
    height: 50px;
}

/************* HEADER *************/
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
}

header a {
    color: var(--white);
}

nav {
    display: none;
}

header span i {
    font-size: 20pt;
}

header a img {
    vertical-align: middle;
}

/************* MAIN *************/

/* Cards section */
#card-blocs {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 3rem 2rem;
}

#card-blocs h3 {
    color: var(--blue);
}

#card-blocs i:not(.fa-apple) {
    color: var(--blue);
    font-size: 5rem;
}

.cards {
    padding: 2rem 1.5rem;
    gap: 2rem;
}

.first-card {
    padding-bottom: 0;
    gap: 2rem;
}

.first-card h3, .first-card p, .first-card button {
    align-self: flex-start;
    text-align: left;
}

#card-blocs div {
    background-color: var(--light-blu);
    border-radius: 1rem;
    flex-direction: column;
}

#card-blocs div img {
    width: 90%;
}

/* Planning section */
#planning {
    padding: 3rem 2rem;
    background-color: var(--purple);
    color: var(--white);
}

#planning h2 {
    padding: 3rem 0;
}

#planning p:not(#planning div div p) {
    padding-bottom: 2rem;
}

#planning div img {
    width: 90%;
}

#planning div div {
    background-color: var(--white);
    border-radius: 3rem;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    color: var(--black);
}

#planning div div div {
    width: 3rem;
    height: 3rem;
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

#planning div div p {
    font-style: italic;
    text-align: center;
}

/* Testimonials section */
#testimonials {
    padding: 3rem 2rem;
}

.t-box {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.t-box p {
    font-size: 1.2rem;
}

.t-box h2 {
    color: var(--purple);
    padding: 2rem 0;
}

.t-box div:not(.testimonials-img-1, .testimonials-img-2, .testimonials-img-3, .t-intro, .review) {
    background-color: var(--purple);
    border-radius: 3rem;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    color: var(--white);
}

.testimonials-img-1 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: url(../img/testimonial1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials-img-2 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: url(../img/testimonial2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials-img-3 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: url(../img/testimonial3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.review i, .review p {
    display: inline;
}

.review i {
    font-size: 1.5rem;
}

.review p {
    padding: 0 .5rem;
}

.review h4 {
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

/* Features section */
#features {
    padding: 3rem 2rem;
    background-color: var(--purple);
    color: var(--white);
}

.f-box {
    gap: 2rem;
    flex-direction: column;
}

.f-box .cards {
    background-color: var(--white);
    color: var(--black);
    border-radius: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.f-box h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.f-box h5, .f-box h3 {
    color: var(--purple);
}

.f-box button {
    background-color: var(--purple);
    color: var(--white);
}

/* Features about us */
#about-us {
    padding: 3rem 2rem;
    gap: 2rem;
    flex-direction: column;
}

.about-box {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
}

#about-us h2 {
    color: var(--purple);
}

.about-box h3 {
    color: var(--purple);
}

.btn-xs {
    background-color: var(--purple);
    font-size: .8rem;
    padding: 6px 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.btn-xs i {
    padding-right: 5px;
    font-size: .8rem;
}

.about-img {
    height: 180px;
    width: 180px;
    border-radius: 100px;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-img i {
    position: absolute;
    left: 135px;
    top: -10px;
    font-size: 4rem;
    color: var(--purple);
}

/* Features get started */
#get-started {
    padding: 3rem 2rem;
    background-color: var(--purple);
    color: var(--white);
}

.g-box {
    gap: 2rem;
    flex-direction: column;
    text-align: center;
}

.g-box button {
    background-color: var(--white);
    padding: 18px 60px;
    color: var(--purple);
}

.g-box a {
    color: var(--white);
    text-decoration: underline;
}

/************* FOOTER *************/
footer {
    padding: 3rem 2rem;
    background-color: var(--dark-grey);
    color: var(--white);
    text-align: center;
}

footer p:last-child {
    padding-top: 3rem;
}

footer a {
    color: var(--purple);
    text-decoration: underline;
}